<div class="row breadcrumb-row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to I18n.t("breadcrumb.home"), :controller => :welcome, :action => :index %>
      </li>
    </ol>
  </div>
</div>
