<div class="record-toolbar">
  <div class="pull-left save-changes">
    <button type="submit" class="btn btn-primary btn-sm">
      <%= I18n.t("user._frontend.action.update_account") %>
    </button>
  </div>
  <div class="btn-toolbar pull-right">
  </div>
  <br style="clear:both" /> <!-- So dirty! -->
</div>

